.tts-page-container {
    margin: 0 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tts-form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translateY(50%);
}
.credits-remaining-text {
    font-size: .8rem;;
    text-align: left;
}
.tts-form {
    border: 1px solid #c9c9c9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.tts-form textarea {
    width: 100%;
    height: 200px;
    font-size: 1rem;
    resize: none;
    border: none;
    border-bottom: 1px solid #c9c9c9;
    box-shadow: none;
    outline: none;
}

.buttons-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-top: .7rem;
    width: 100%;
}
.buttons-container button {

    font-size: 1rem;
    border: none;
    border-radius: 300px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid transparent;
}
.buttons-container button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}